@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/webfonts";

@import "~font-awesome/scss/fontawesome.scss";
@import "~font-awesome/scss/fa-regular.scss";
@import "~font-awesome/scss/fa-solid.scss";
@import "~font-awesome/scss/fa-brands.scss";

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  color: #313131;
  margin-top: 66px;

  h3 {
    margin-top: 20px;
    font-weight: 900;
    font-size: 48px;
  }

  .content {
    min-height: 1000px;
  }

  .decoration-box {
    width: 60px;
    height: 16px;
  }

  .red-decoration {
    background-color: #fb5b56;
  }

  .yellow-decoration {
    background-color: #ffc131;
  }

  .green-decoration {
    background-color: #0ba372;
  }
}
