.header {
  background-color: #eee !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

  .logo {
    width: auto;
    height: 40px;
  }

  .header-icon {
    margin: 0 auto;
  }
}
