.header {
  background-color: #fefefe !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

  .logo {
    width: auto;
    height: 40px;
  }

  .nav-item {
    text-align: center;
  }
}
