.main {
  .main-container {
    background-image: url('../images/main/background.png');
    background-size: auto 100%;
    background-position: center;
    overflow: hidden;
    height: 963px;
    width: 100%;

    @media screen and (min-width: 1920px) {
      background-size: 100% auto;
    }

    .logo-container {
      margin-top: 163px;
      width: 100%;
      text-align: center;

      .main-logo {
        display: block;
        width: 256px;
        height: 294px;
        margin: 0 auto;
      }

      .main-logo-text {
        display: block;
        width: 296px;
        height: 45px;
        margin: 0 auto;
        margin-top: 34px;
      }

      .main-description {
        margin-top: 103px;
        font-size: 20px;
      }
    }

    .asset-chain-img {
      margin-top: 50px;
      width: 466px;
      height: 79px;

      @media screen and (max-width: 486px) {
        width: 100%;
        height: auto;
      }
    }
  }

  .projects-container {
    padding-bottom: 100px;

    .project-item {
      margin: 0 auto;
      margin-top: 100px;
      width: 340px;
      text-align: center;
      padding-top: 43px;
      padding-bottom: 43px;

      .title {
        margin-top: 30px;
        font-size: 28px;
        font-weight: 900;
      }

      .gocryptobot-img {
        width: 254px;
        height: 126px;
      }

      .codechain-img {
        width: 133px;
        height: 133px;
      }

      .description {
        margin: 0 auto;
        margin-top: 10px;
        font-size: 22px;
        width: 300px;
        color: #7d7d7d;

        @media screen and (max-width: 991px) {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .link-container {
        color: #313131;
      }

      .link-container:hover {
        text-decoration: none;

        .title {
          color: #d94c47;
        }
      }
    }

    .project-item:hover {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
    }
  }

  .team-container {
    padding-bottom: 100px;

    .team-item-group {
      margin: 0 auto;
      margin-top: 70px;

      @media screen and (max-width: 1199px) {
        text-align: center;
      }

      .team-item {
        display: inline-block;
        position: relative;
        width: 300px;
        height: 113px;
        margin-right: 60px;
        margin-bottom: 70px;

        @media screen and (max-width: 991px) {
          margin-right: 0;
          text-align: center;
        }
      }

      .team-item-image {
        position: absolute;
        width: 113px;
        height: 113px;
        left: 0;
        top: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
        -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
      }

      .team-item-background {
        position: absolute;
        left: 55px;
      }

      .team-item-image-join {
        position: absolute;
        width: 113px;
        height: 113px;
        left: 0;
        top: 0;
      }

      .team-item-right {
        position: absolute;
        width: 187px;
        height: 113px;
        left: 113px;
        top: 0;
        padding-left: 20px;
        padding-top: 15px;
        text-align: left;

        .team-item-name {
          margin-top: 6px;
          font-weight: bold;
          font-size: 19px;
        }

        .team-item-description {
          font-size: 13px;
          color: #898989;
        }
      }

      .team-item-link-group {
        position: absolute;
        bottom: 10px;
        left: 127px;

        .team-item-link {
          margin-left: 5px;
          font-size: 12px;
          display: inline-block;
          cursor: pointer;

          a {
            color: #313131;
          }

          a:hover {
            color: #d94c47;
          }
        }
      }
    }
  }

  .media-container {
    padding-bottom: 100px;
    background-color: #f5f5f5;
    overflow: hidden;

    ul {
      margin-top: 20px;
      padding-left: 25px;
      list-style-type: none;

      li {
        font-size: 20px;
        margin-bottom: 5px;
        cursor: pointer;

        @media screen and (max-width: 992px) {
          font-size: 15px;
        }

        .media-item {
          color: #313131;
        }

        .media-icon {
          margin-left: -25px;
          margin-right: 5px;
        }

        .media-item:hover {
          text-decoration: none;
          color: #087250;
        }
      }
    }
  }

  .presentation-container {
    padding-bottom: 100px;
    background-color: #f5f5f5;
    overflow: hidden;

    ul {
      margin-top: 20px;
      padding-left: 18px;
      list-style-type: none;

      li {
        font-size: 20px;
        margin-bottom: 5px;
        cursor: pointer;

        @media screen and (max-width: 992px) {
          font-size: 15px;
        }

        .presentation-item {
          color: #313131;
        }

        .presentation-icon {
          margin-right: 5px;
          margin-left: -18px;
        }

        .presentation-item:hover {
          text-decoration: none;
          color: #eaa912;
        }
      }
    }
  }

  .event-container {
    padding-bottom: 100px;
    background-color: #f5f5f5;
    overflow: hidden;

    .upcoming-group {
      margin-top: 20px;

      .title {
        color: #d94c47;
        font-size: 24px;
        font-weight: 900;
      }

      .upcomming-event-item-list {
        list-style-type: none;
        padding-left: 40px;
      }

      .upcomming-event-item {
        font-size: 20px;

        @media screen and (max-width: 992px) {
          font-size: 15px;
        }

        .upcomming-item-icon {
          margin-right: 5px;
          margin-left: -20px;
        }
      }

      .event-link-icon {
        color: #087250;
        margin-left: 5px;
      }

      .upcoming-link {
        color: #313131;
      }

      .upcoming-link:hover {
        color: #d94c47;
        text-decoration: none;
      }
    }

    .event-item {
      width: 356px;
      margin-bottom: 40px;
      background-color: #fff;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;

      @media screen and (max-width: 434px) {
        width: 100%;
        height: auto;
      }

      .event-img {
        width: 100%;
        height: auto;
        background-color: #eee;
      }

      .info-container {
        position: relative;
      }

      .decoration-block {
        position: absolute;
        top: 0;
        left: 10px;
        width: 30px;
        height: 5px;
        background-color: #eaa912;
      }

      .decoration-triangle {
        position: absolute;
        width: 24px;
        height: 20px;
        top: -20px;
        right: 30px;
      }

      .event-title {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
        font-weight: 500;
      }

      .event-date {
        font-size: 14px;
        margin-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        color: #706f6f;
      }

      .more-info {
        color: #313131;
      }

      .more-info:hover {
        text-decoration: none;
        color: #d94c47;
      }
    }

    .past-group {
      margin-top: 60px;

      .title {
        color: #898989;
        font-size: 24px;
        font-weight: 900;
      }
    }

    .partners-group {
      margin-top: 100px;
      text-align: center;

      .title {
        color: #9e9e9e;
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 0;
      }

      .small-under-line {
        margin: 0 auto;
        width: 300px;
        height: 1px;
        background-color: #9e9e9e;
      }

      .partners-group-list {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 100px;
        width: 500px;

        @media screen and (max-width: 991px) {
          width: 100%;
        }

        .partner-logo {
          margin: 0 auto;
          width: 180px;
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
