.main {
  .main-container {
    padding-top: 120px;

    @media screen and (max-width: 767px) {
      padding-top: 80px;
    }

    .main-logo-img {
      width: 285px;
      height: 83px;
    }

    .description {
      margin-top: 30px;
      font-size: 20px;
      padding-right: 30px;

      @media screen and (max-width: 991px) {
        padding-right: 0;
      }
    }

    .asset-chain-img {
      margin-top: 50px;
      width: 466px;
      height: 79px;

      @media screen and (max-width: 486px) {
        width: 100%;
        height: auto;
      }
    }
  }

  .projects-container {
    margin-top: 100px;

    .project-item {
      margin: 0 auto;
      margin-top: 100px;
      width: 340px;
      text-align: center;

      .title {
        margin-top: 30px;
        font-size: 28px;
        font-weight: 900;
      }

      .gocryptobot-img {
        width: 254px;
        height: 126px;
      }

      .codechain-img {
        width: 133px;
        height: 133px;
      }

      .description {
        margin: 0 auto;
        margin-top: 10px;
        font-size: 22px;
        width: 300px;

        @media screen and (max-width: 991px) {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .link-container {
        color: #313131;
      }

      .link-container:hover {
        text-decoration: none;

        .title {
          color: #d94c47;
        }
      }
    }
  }

  .team-container {
    margin-top: 100px;

    .team-item-group {
      margin-top: 70px;

      @media screen and (max-width: 991px) {
        text-align: center;
      }

      .team-item {
        display: inline-block;
        position: relative;
        width: 330px;
        height: 113px;
        margin-right: 30px;
        margin-bottom: 30px;

        @media screen and (max-width: 991px) {
          margin-right: 0;
          text-align: center;
        }
      }

      .team-item-image {
        position: absolute;
        width: 113px;
        height: 113px;
        left: 0;
        top: 0;
      }

      .team-item-background {
        position: absolute;
        left: 55px;
      }

      .team-item-image-join {
        position: absolute;
        width: 75px;
        height: 75px;
        left: 0;
        top: 0;
        background-color: #eaa912;

        img {
          position: absolute;
          bottom: 0;
          left: 7px;
        }
      }

      .team-item-right {
        position: absolute;
        width: 217px;
        height: 113px;
        left: 113px;
        top: 0;
        padding: 10px;
        padding-top: 15px;
        text-align: left;

        .team-item-name {
          margin-top: 6px;
          font-weight: bold;
          font-size: 19px;
        }

        .team-item-description {
          font-size: 13px;
          color: #898989;
        }
      }

      .team-item-link-group {
        position: absolute;
        bottom: 10px;
        left: 117px;

        .team-item-link {
          margin-left: 5px;
          font-size: 12px;
          display: inline-block;
          cursor: pointer;

          a {
            color: #313131;
          }

          a:hover {
            color: #d94c47;
          }
        }
      }
    }
  }

  .media-container {
    margin-top: 100px;

    ul {
      margin-top: 50px;
      padding-left: 0;
      list-style-type: none;

      li {
        font-size: 20px;
        margin-bottom: 5px;
        cursor: pointer;

        @media screen and (max-width: 992px) {
          font-size: 15px;
        }

        .media-item {
          color: #313131;
        }

        .media-icon {
          margin-right: 8px;
        }

        .media-item:hover {
          text-decoration: none;
          color: #d94c47;
        }
      }
    }
  }

  .presentation-container {
    margin-top: 100px;

    ul {
      margin-top: 50px;
      padding-left: 0;
      list-style-type: none;

      li {
        font-size: 20px;
        margin-bottom: 5px;
        cursor: pointer;

        @media screen and (max-width: 992px) {
          font-size: 15px;
        }

        .presentation-item {
          color: #313131;
        }

        .presentation-icon {
          margin-right: 8px;
        }

        .presentation-item:hover {
          text-decoration: none;
          color: #d94c47;
        }
      }
    }
  }

  .event-container {
    margin-top: 100px;

    .upcoming-group {
      margin-top: 60px;

      .title {
        color: #d94c47;
        font-size: 24px;
        font-weight: 900;
      }
    }

    .event-item {
      width: 460px;
      margin-bottom: 40px;

      @media screen and (max-width: 480px) {
        width: 100%;
        height: auto;
      }

      .event-img {
        width: 100%;
        height: auto;
        background-color: #eee;
      }

      .event-title {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 24px;
        font-weight: bold;
      }

      .event-date {
        margin-left: 5px;
        font-size: 20px;
      }

      .more-info {
        color: #313131;
      }

      .more-info:hover {
        text-decoration: none;
        color: #d94c47;
      }
    }

    .past-group {
      margin-top: 60px;

      .title {
        color: #898989;
        font-size: 24px;
        font-weight: 900;
      }
    }

    .partners-group {
      margin-top: 100px;
      text-align: center;

      .title {
        color: #d94c47;
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 0;
      }

      .small-under-line {
        margin: 0 auto;
        width: 300px;
        height: 1px;
        background-color: #313131;
      }

      .partners-group-list {
        margin: 0 auto;
        margin-bottom: 200px;
        width: 800px;

        @media screen and (max-width: 991px) {
          width: 100%;
        }

        .partner-logo {
          margin: 0 auto;
          margin-bottom: 30px;
          width: 300px;
          height: 100px;
        }
      }
    }
  }
}
