section.call-to-action(style="background-image: url('img/agency/backgrounds/bg-quote.jpg');")
  .container.wow.fadeIn
    .row
      .col-md-10.mx-auto
        span.quote
          | Good
          span.text-primary design
          |               is finding that perfect balance between the way something
          span.text-primary looks
          |               and how it
          span.text-primary functions
          | .
        hr.colored
        a.btn.btn-primary.js-scroll-trigger(href='#activities') How We Work
