section#events.page-section
  .container.text-center.wow.fadeIn
    h3 Events
    p Here are some examples of our work.
    h4 Upcoming Events
      .upcoming-event-carousel.owl-carousel.owl-theme
        .upcoming-item
          p
            | test
        .upcoming-item
          p
            | test
    h4 Past Events
      .past-event-carousel.owl-carousel.owl-theme
        .past-item
          p
            | test
        .past-item
          p
            | test
        .past-item
          p
            | test
        .past-item
          p
            | test
        .past-item
          p
            | test
