footer.footer(style="background-image: url('img/backgrounds/bg-header.jpg');")
  .overlay
    .container.text-center.link-container.wow.fadeIn
      p.link-text
        | LINKS
      ul.list-inline
        li.list-inline-item
          a(href='https://codechain.io/', target='_blank')
            img.img-icon(src='img/footer/codechain-icon.svg')
        li.list-inline-item
          a(href='https://github.com/CodeChain-io/codechain', target='_blank')
            i.fa.fa-github
        li.list-inline-item
          a(href='https://medium.com/codechain', target='_blank')
            img.img-icon(src='img/footer/medium-icon.png')
        li.list-inline-item
          a(href='https://twitter.com/codechain_io', target='_blank')
            i.fa.fa-twitter
        li.list-inline-item
          a(href='https://www.facebook.com/codechain/', target='_blank')
            i.fa.fa-facebook-official
  .copyright-container.text-center.py-3.wow.fadeIn
    p
      | support@kodebox.io
    p.mb-0
      | ⓒ 2018 Kodebox, Inc.
