footer.footer(style="background-image: url('img/backgrounds/bg-header.jpg');")
  .overlay
  .container.text-center
    .link-container
      ul.list-inline
        li.list-inline-item
          i.fa.fa-facebook-official
        li.list-inline-item
          | facebok
        li.list-inline-item
          | twitter
        li.list-inline-item
          | github
  .copyright-container.text-center.py-3
    p
      | support@kodebox.io
    p
      | ⓒ 2018 Kodebox, Inc.
