footer.footer(style="background-image: url('img/backgrounds/bg-footer.jpg')")
  .container.text-center
    .row
      .col-md-4.footer-contact-details
        h4
          i.fa.fa-phone
          |               Call
        p 555-213-4567
      .col-md-4.footer-contact-details
        h4
          i.fa.fa-map-marker
          |               Visit
        p
          | 3481 Melrose Place
          br
          | Beverly Hills, CA 90210
      .col-md-4.footer-contact-details
        h4
          i.fa.fa-envelope
          |               Email
        p
          a(href='mailto:mail@example.com') mail@example.com
    .row.footer-social
      .col-lg-12
        ul.list-inline
          li.list-inline-item
            a(href='#')
              i.fa.fa-facebook.fa-fw.fa-2x
          li.list-inline-item
            a(href='#')
              i.fa.fa-twitter.fa-fw.fa-2x
          li.list-inline-item
            a(href='#')
              i.fa.fa-linkedin.fa-fw.fa-2x
    p.copyright © 2017 Start Bootstrap Themes
