header.masthead(style="background-color: #9340E7;")
  .overlay
  .header-container.container.h-100
    .row.h-100
      .col-md-8.my-auto.text-black
        h2.masthead-title
          | ABOUT US
        .masthead-subtitle.mt-2
          | A blockchain technology company on a mission to create and enable smarter asset management systems
