header.masthead
  .container.h-100
    .row.h-100
      .col-md-6.my-auto.text-black.px-3.px-md-5
        .masthead-title KODEBOX
        .masthead-subtitle.mt-3
          | Kodebox is a blockchain technology company
          | on a mission to create and enable a smarter
          | asset management system.
      .col-md-6.my-auto.text-black.px-3.px-md-5.pt-5.pt-md-0
        img.asset-image(src='img/header/header.svg')
  .scroll-down
    a.btn.js-scroll-trigger(href='#project')
      i.fa.fa-angle-down.fa-fw
