header.masthead(style="background-color: #9340E7;")
  .overlay
  .header-container.container.h-100
    .row.h-100
      .col-md-8.my-auto.text-black
        h2.masthead-title
          | Organize the world's private assets and provide easy access to the public
