header.masthead(style="background-image: url('img/agency/backgrounds/bg-header.jpg');")
  .container.h-100
    .row.h-100
      .col-12.my-auto.text-center.text-white
        img.masthead-img.img-fluid.mb-3(src='img/agency/profile.png', alt='')
        .masthead-title Kodebox
        hr.colored
        .masthead-subtitle Blockchain technology company
  .scroll-down
    a.btn.js-scroll-trigger(href='#project')
      i.fa.fa-angle-down.fa-fw
