header.masthead
  .container.h-100
    .row.h-100
      .col-12.text-black
        .masthead-title Kodebox
        .masthead-subtitle.mt-3
          | Kodebox is a blockchain technology company
          | on a mission to create and enable a smarter
          | asset management system.
        img.asset-image(src='img/header/header.svg')
  .scroll-down
    a.btn.js-scroll-trigger(href='#project')
      i.fa.fa-angle-down.fa-fw
