section#partners.page-section
  .container.text-center.my-auto
    h2.wow.fadeIn PARTNERS
      .partner-container.mx-auto
        .row.mt-5
          .col-md-6
            img(src='img/partners/dunamu.png')
          .col-md-6
            img(src='img/partners/kakao.png')
