section#project.page-section
  .container.text-center.wow.fadeIn
    h2 Project
    hr.colored
    .project-item-container.pt-sm-0.pt-lg-5
      .row.justify-content-center.text-lg-left.mb-5.mb-lg-0
        .col-lg-6.my-auto
          h3.codechain-title
            | CodeChain
          p.mt-3
            | Programmable open source blockchain technology optimal for developing and customizing multi-asset management systems.
          a.mt-3(href='https://codechain.io', target='_blank')
            | Detail >>
        .col-lg-6.mt-4.mt-lg-0
          img.project-img(src='img/project/project-item-codechain.png')
      .row.flex-column-reverse.flex-lg-row.text-lg-left
        .col-lg-6.mt-4.mt-lg-0
          img.project-img(src='img/project/project-item-codechain.png')
        .col-lg-6.my-auto
          h3.codechain-title
            | CodeChain
          p.mt-3
            | Programmable open source blockchain technology optimal for developing and customizing multi-asset management systems.
          a.mt-3(href='https://codechain.io', target='_blank')
            | Detail >>
