section#project.page-section
  .container-flude.text-center.my-auto
    h2.wow.fadeIn PROJECTS
    .project-item-container.pt-sm-0.pt-lg-5
      .row.justify-content-center.mb-5.mb-lg-0.wow.fadeIn
        .col-lg-12
          .project-item.py-3.py-sm-3.py-lg-0
            .project-img-container
              img.project-img-1(src='img/project/project1.png')
            p.lead.project-title
              | CodeChain
            p.description.project-description.mx-auto
              | An end-to-end network solution ideal for multi-asset management services
            .detail-btn.mx-auto
              a(href='https://codechain.io' target='_blank')
                | View more

