section#project.page-section
  .container.text-center
    h2.wow.fadeIn OUR PROJECTS
    .project-item-container.pt-sm-0.pt-lg-5
      .row.justify-content-center.mb-5.mb-lg-0.wow.fadeIn
        .col-lg-6
          .project-item.py-3.py-sm-3.py-lg-0
            img(src='img/project/project1.svg')
            p.lead.project-title.mt-3
              | CodeChain
            p.project-description.mx-auto
              | Programmable blockchain platform optimal for mutiple asset management
            .detail-btn.mx-auto
              | Detail >>
        .col-lg-6
          .project-item.py-3.py-sm-3.py-lg-0
            img(src='img/project/project2.svg')
            p.lead.project-title.mt-3
              | GoCryptobot
            p.project-description.mx-auto
              | World’s first mobile blockchain game on iOS and Android
            .detail-btn.mx-auto
              | Detail >>

