section#project.page-section
  .container.text-center.my-auto
    h2.wow.fadeIn PROJECTS
    .project-item-container.pt-sm-0.pt-lg-5
      .row.justify-content-center.mb-5.mb-lg-0.wow.fadeIn
        .col-lg-6
          .project-item.py-3.py-sm-3.py-lg-0
            img(src='img/project/project1.svg')
            p.lead.project-title.mt-5
              | CodeChain
            p.description.project-description.mx-auto
              | Programmable open source blockchain technology optimal for developing and customizing multi-asset management systems
            a(href='https://codechain.io' target='_blank')
              .detail-btn.mx-auto
                | Show more
        .col-lg-6
          .project-item.py-3.py-sm-3.py-lg-0
            img(src='img/project/project2.png')
            p.lead.project-title.mt-5
              | GoCryptobot
            p.description.project-description.mx-auto
              | World’s first mobile blockchain game#[br]
              | on iOS and Android
            a(href='https://gocryptobot.io' target='_blank')
              .detail-btn.mx-auto
                | Show more

