section#talks.page-section
  .container.text-center.wow.fadeIn
    h2 TALKS
    .row.mt-5.text-left
      .col-12
        .talk-item.py-3
          p.talk-title.mb-1
            | CodeChain Seminar: Blockchain Storage
          p.description.talk-date
            | 2018-05-24
          img.float-right(src='img/talks/slide.svg')
      .col-12
        .talk-item.py-3
          p.talk-title.mb-1
            | CodeChain Seminar: Blockchain Storage
          p.description.talk-date
            | 2018-05-24
          img.float-right(src='img/talks/slide.svg')
      .col-12
        .talk-item.py-3
          p.talk-title.mb-1
            | CodeChain Seminar: Blockchain Storage
          p.description.talk-date
            | 2018-05-24
          img.float-right(src='img/talks/slide.svg')
    .show-more-btn.mx-auto.mt-4
      | More
