section#talks.page-section
  .container.text-center.wow.fadeIn
    h3 Talks
    p Here are some examples of our work.
    .row.mt-5.text-left
      .col-lg-4.col-md-6.mt-4
        .talk-item.mx-auto
          .top-decoration
          i.fa.fa-file-text-o.fa-2x.d-block
          p.font-weight-bold.mb-0
            | CodeChain Seminar - Blockchain Storage
          p.text-muted
            | 2018-05-24
      .col-lg-4.col-md-6.mt-3
        .talk-item.mx-auto
          .top-decoration
          i.fa.fa-file-text-o.fa-2x.d-block
          p.font-weight-bold.mb-0
            | CodeChain Seminar - Blockchain Storage
          p.text-muted
            | 2018-05-24
      .col-lg-4.col-md-6.mt-3
        .talk-item.mx-auto
          .top-decoration
          i.fa.fa-file-text-o.fa-2x.d-block
          p.font-weight-bold.mb-0
            | CodeChain Seminar - Blockchain Storage
          p.text-muted
            | 2018-05-24
      .col-lg-4.col-md-6.mt-3
        .talk-item.mx-auto
          .top-decoration
          i.fa.fa-file-text-o.fa-2x.d-block
          p.font-weight-bold.mb-0
            | CodeChain Seminar - Blockchain Storage
          p.text-muted
            | 2018-05-24
      .col-lg-4.col-md-6.mt-3
        .talk-item.mx-auto
          .top-decoration
          i.fa.fa-file-text-o.fa-2x.d-block
          p.font-weight-bold.mb-0
            | CodeChain Seminar - Blockchain Storage
          p.text-muted
            | 2018-05-24
      .col-lg-4.col-md-6.mt-3
        .talk-item.mx-auto
          .top-decoration
          i.fa.fa-file-text-o.fa-2x.d-block
          p.font-weight-bold.mb-0
            | CodeChain Seminar - Blockchain Storage
          p.text-muted
            | 2018-05-24
