mixin talk-item(icon, title, date, link)
  .item
    a(href=link, target='_blank')
      .talk-item
        .talk-item-inside
          .decoration-white
          .deco-line
            .decoration-green
            .decoration-red
          p.title
            | #{title}
          .bottem.text-center
            p.date
              | #{date}
            img.mx-auto.logo(src='img/logo.png')
section#talks.page-section
  .container-flude.text-center
    h2.wow.fadeIn TALKS
      .talks-carousel.owl-carousel.owl-theme.mt-5.wow.fadeIn.text-left
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'Introduction to CodeChain', '2018-06-27', 'https://docs.google.com/presentation/d/1XvcKCuIhc8eDWnAx-IneiS0a_e5CgPz31tQ-xUy978c/edit?usp=sharing')
        +talk-item('img/talks/introduction-to-codechain.png', 'Blockchain games and GoCryptobot: lessons learned', '2018-06-27', 'https://docs.google.com/presentation/d/17mHkxlywJu3mmlKi0k_3-HfGSfwwi1qP6qXYoTePPV4/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChain Deep Dive', '2018-06-27', 'https://docs.google.com/presentation/d/1Q7--JyZ8_StcHWIquiIzOarsRh7c81YOI8ppyPC5QJA/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChainOpen Source and Roadmap', '2018-06-27', 'https://docs.google.com/presentation/d/1oVBP9WCR7Oolb37Zk1gdIQ74CKtKdcsbTVzD0iqAbCI/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChain Seminar 5/5 - Interchain and Sharding', '2018-06-20', 'https://docs.google.com/presentation/d/1woHERW1TS4ZpSWrynKHk-RRiMl3-ZTrjKdVY3QzBY_k/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChain Seminar 4/5 - Script Language', '2018-06-14', 'https://docs.google.com/presentation/d/1E9efuCuTLT2E7gIbfPVezuAWhJMHakHr9x8zqLpt6Dg/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'Crypto Game Development With CodeChain', '2018-06-08', 'https://docs.google.com/presentation/d/1Ly_w1-N3ju9D1xXgXTvatIIJUCNptgPtJHOotDVZqkg/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChain Core & Use cases', '2018-06-08', 'https://docs.google.com/presentation/d/1WP6DDBKZ26-kwManYverS69BJQFFUUcKDtNylteZlWY/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChain Programmable multi-asset blockchain', '2018-06-07', 'https://docs.google.com/presentation/d/1fCa8vR6UHXvn6vQNOlf4zG53KJCmgfghhUOc70Y46WE/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChain Seminar 3/5 - Blockchain Storage', '2018-06-05', 'https://docs.google.com/presentation/d/1HtXdipYotF9DKmXJhP0c2OEgLCGEj1cxCP0jEuTeS8w/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChain Seminar 2/5 - P2P Network', '2018-05-30', 'https://docs.google.com/presentation/d/1qYBKe8RONh3JKdRrwvKTuY_2p7FeQEJRR1oqep5lKmo/edit?usp=sharing')
        +talk-item('img/talks/blockchain-game-and-gocryptobot.png', 'CodeChain Seminar 1/5 - BFT Consensus', '2018-05-24', 'https://docs.google.com/presentation/d/10W7gKEvk_6XRIlSdiKwnwP9gVzo5Re5m_24QzLGaqvk/edit?usp=sharing')
