section#team.page-section.bg-light
  .container.text-center.wow.fadeIn
    h2 Our Team
    p.mb-0
      | We are a group of digital marketers with a passion for great art that serves a practical purpose.
    hr.colored
    .team-carousel.mt-4
      // Team Carousel Item 1
      .row
        .col-lg-4.col-md-6
          .item
            .team-img
              .overlay
              img.img-fluid(src='img/agency/team/1.jpg', alt='')
            .team-caption
              h3 Patricia West
              hr.colored
              p Marketing Director
              ul.list-inline.list-team-social
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
        .col-lg-4.col-md-6
          .item
            .team-img
              .overlay
              img.img-fluid(src='img/agency/team/2.jpg', alt='')
            .team-caption
              h3 Howard Scott
              hr.colored
              p Sales Manager
              ul.list-inline.list-team-social
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
        .col-lg-4.col-md-6
          .item
            .team-img
              .overlay
              img.img-fluid(src='img/agency/team/3.jpg', alt='')
            .team-caption
              h3 Kate Williams
              hr.colored
              p Creative Director
              ul.list-inline.list-team-social
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-dribbble.fa-fw
        .col-lg-4.col-md-6
          .item
            .team-img
              .overlay
              img.img-fluid(src='img/agency/team/4.jpg', alt='')
            .team-caption
              h3 Jeremy Davidson
              hr.colored
              p Web Developer
              ul.list-inline.list-team-social
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-github.fa-fw
        .col-lg-4.col-md-6
          .item
            .team-img
              .overlay
              img.img-fluid(src='img/agency/team/5.jpg', alt='')
            .team-caption
              h3 Amy Vanderbute
              hr.colored
              p Graphic Artist
              ul.list-inline.list-team-social
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li.list-inline-item
                  a(href='#')
                    i.fa.fa-dribbble.fa-fw
