#events {
  .upcoming-event-carousel {
    .upcoming-item {
      background-color: antiquewhite;
      padding: 15px;
    }
  }
  .past-event-carousel {
    .past-item {
      background-color: antiquewhite;
      padding: 15px;
    }
  }
}
