#events {
  .event-item-container {
    max-width: 800px;
  }
  .event-item {
    img {
      width: 80px;
      height: 80px;
    }
    .type {
      font-weight: 900;
      @include heading-font;
    }
    .title {
      @include heading-font;
    }
  }
  .show-more-btn {
    color: $themeDescription;
    border: 1px solid $themeDescription;
    border-radius: 20px;
    width: 80px;
    cursor: pointer;
  }
}
