footer.footer {
  position: relative;
  @include background-cover;
  @include background-fixed;
  height: 350px;
  .overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .copyright-container {
    position: absolute;
    bottom: 0;
    background-color: #1F1F1F;
    width: 100%;
    color: white;
  }
  .link-container {
    color: white;
  }
}
