header.masthead {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: $themeDark;
  @include background-cover;
  @include background-fixed;
  .masthead-img {
    max-width: 150px;
    max-height: 150px;
  }
  .masthead-title {
    font-size: 4rem;
    line-height: 4rem;
    @include heading-font;
  }
  .masthead-subtitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .scroll-down {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    .btn {
      font-size: 30px;
      line-height: 50px;
      width: 50px;
      height: 50px;
      padding: 0;
      letter-spacing: normal;
      color: white;
      border: 2px solid white;
      border-radius: 100% !important;
      @include transition-all;
      &:hover {
        color: fade-out(white, 0.5) !important;
        border-color: fade-out(white, 0.5);
        outline: none;
      }
      &:active,
      &:focus {
        box-shadow: 0 0 0 3px fade-out(white, 0.5) !important;
      }
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 700px;
    padding-top: 0;
    padding-bottom: 0;
    .masthead-img {
      max-width: 250px;
      max-height: 250px;
    }
    .masthead-title {
      font-size: 5rem;
      line-height: 5rem;
    }
    .masthead-subtitle {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}

header.video {
  background: $themeDark;
  overflow: hidden;
  .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: black;
  }
  .container {
    position: relative;
  }
  .container,
  .scroll-down {
    z-index: 999;
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@media screen and (max-device-width: 1024px) {
  header.video {
    background: url('../img/agency/backgrounds/bg-mobile-fallback.jpg') $themeDark no-repeat center center scroll;
    video {
      display: none;
    }
  }
}
