#media {
  background-color: #f7f7f7;
  .hidden-media {
    display: none;
  }
  .media-item {
    border-bottom: 1px solid #bbb;
    &:hover {
      .media-title {
        @include transition-all;
        color: fade-out(#313131, 0.5);
      }
      .media-date {
        @include transition-all;
        color: fade-out(#313131, 0.5);
      }
    }
    .media-title {
      font-weight: 600;
      @include heading-font;
    }
    .media-date {
      font-size: 1rem;
    }
    .media-content {
      font-size: 1rem;
    }
    img {
      width: 170px;
      height: 150px;
      object-fit: cover;

      &.image-left {
        object-position: left;
      }
    }
    @media (max-width: 767px) {
      .media-img {
        width: 100px;
        height: 80px;
      }
      .media-content {
        display: none;
      }
    }
  }
  .show-more-btn {
    color: $themeDescription;
    border: 1px solid $themeDescription;
    border-radius: 20px;
    width: 80px;
    padding: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    &:hover {
      @include transition-all;
      color: fade-out($themeDescription, 0.3);
      border: 1px solid fade-out($themeDescription, 0.3);
    }
  }
}
