#media {
  background-color: #f7f7f7;
  .media-item {
    border-bottom: 1px solid #bbb;
    .media-title {
      font-weight: 600;
      @include heading-font;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  .media-item-container {
    max-width: 800px;
  }
  .show-more-btn {
    color: $themeDescription;
    border: 1px solid $themeDescription;
    border-radius: 20px;
    width: 80px;
    padding: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    &:hover {
      @include transition-all;
      color: fade-out($themeDescription, 0.3);
      border: 1px solid fade-out($themeDescription, 0.3);
    }
  }
}
