#mainNav {
  background-color: #F8F9FB;
  .navbar-toggler {
    padding: 15px;
    color: $themeDark;
    font-size: 14px;
    &:focus,
    &:hover {
      color: $themeDarken;
      font-weight: 600;
    }
  }
  .navbar-brand {
    color: $themeDark;
    font-size: 24px;
    line-height: 44px;
    @include heading-font;
    img {
      height: 40px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      >.nav-item {
        >.nav-link {
          padding-top: 15px;
          padding-bottom: 15px;
          color: $themeDark;
          &:focus,
          &:hover {
            color: fade-out($themeDark, 0.5);
          }
          &.active,
          &.active:focus,
          &.active:hover {
            color: $themeDarken;
            font-weight: 600;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    height: auto;
    padding: 30px 0;
    @include transition-padding;
    background-color: transparent;
    &.navbar-shrink {
      padding: 5px 0;
      background-color: #F8F9FB;
    }
    .navbar-brand {
      font-size: 26px;
      line-height: 50px;
      img {
        height: 46px;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        >.nav-item {
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
          >.nav-link {
            padding: 15px;
            &.active,
            &.active:focus,
            &.active:hover {
              color: $themeDarken;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
