#project {
  background-color: #F8F9FB;
  .project-item-container {
    .project-item {
      border: 1px #313131;
      border-radius: 15px;
      img {
        width: auto;
        height: 250px;
      }
      .project-title {
        text-transform: none !important;
        font-size: 2rem;
      }
      .project-description {
        max-width: 340px;
      }
      .detail-btn {
        border: 1px solid #313131;
        width: 100px;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
}
