#talks {
  background-color: #f7f7f7;
  .talk-item-container {
    max-width: 800px;
  }
  .talk-item {
    border-bottom: 1px solid #bbb;
    .talk-title {
      font-weight: 600;
      @include heading-font;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
  .show-more-btn {
    color: $themeDescription;
    border: 1px solid $themeDescription;
    border-radius: 20px;
    width: 80px;
    cursor: pointer;
  }
}
