.team-container {
  .item {
    position: relative;
    margin-bottom: 30px;
    .name {
      text-transform: none;
    }
    .rank {
      font-size: 1rem;
    }
    .team-img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
    }
    .line {
      width: 100px;
      height: 1px;
      background-color: #212529;
    }
    .team-caption {
      .list-team-social {
        margin-top: 5px;
        li {
          a {
            font-size: 1.5rem;
            color: #212529;
            &:hover,
            &:focus {
              color: fade-out(#212529, 0.3);
              ;
            }
          }
        }
      }
    }
  }
}
