.team-container {
  .item {
    position: relative;
    margin-bottom: 30px;
    .name {
      text-transform: none;
      font-size: 1.2rem;
      @include heading-font;
    }
    .rank {
      font-size: 1rem;
    }
    .team-img {
      width: 170px;
      height: 170px;
      border-radius: 100%;
    }
    .line {
      width: 100px;
      height: 1px;
      background: #ddd;
    }
    .team-caption {
      .list-team-social {
        li {
          .inactive {
            width: 23px;
            height: 23px;
            filter: opacity(20%);
            margin-right: 5px;
            margin-left: 5px;
          }
          a {
            .active {
              width: 23px;
              height: 23px;
              filter: opacity(70%);
              margin-right: 5px;
              margin-left: 5px;
            }
            &:hover {
              filter: opacity(40%);
            }
          }
        }
      }
    }
  }
}
