body {
  font-weight: normal;
  @include sans-serif-font;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $themeDescription;
  @include transition-all;
  &:hover,
  &:focus {
    color: fade-out($themeDescription, 0.4);
    text-decoration: none;
  }
}

p {
  font-size: 18px;
  line-height: 1.5;
}

p.description {
  font-size: 18px;
  line-height: 1.5;
  color: $themeDescription
}

p.lead {
  font-size: 24px;
  @include heading-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  letter-spacing: 2px;
  font-weight: 900;
}

@media (min-width: 768px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 40px;
  }
}
