// Core variables and mixins
$themePrimary: #EF4035;
$themeDark: #222;
$themeDarken: #111;
@import "mixins.scss";
// Global Styles
@import "global.scss";
@import "typography.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "call-to-action.scss";
@import "project.scss";
@import "events.scss";
@import "team.scss";
@import "talk.scss";
@import "media.scss";
@import "footer.scss";
// Bootstrap and Plugin Overrides
@import "bootstrap-overrides.scss";
@import "owl-carousel-overrides.scss";
