doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Kodebox
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-101144979-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-101144979-1');
  body
    include includes/header.pug
    +cc-header('main')
    .content
      .main
        #main-container.main-container.scroll-target
          .container
            .logo-container
              img.main-logo(src='./images/main/main-logo-2x.png')
              img.main-logo-text(src='./images/main/main-logo-text-2x.png')
              .main-description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #projects-container.projects-container.scroll-target
          .container
            .decoration-box.red-decoration
            h3
              | Projects
            .row
              .col-lg-6
                .project-item
                  a.link-container(href='https://codechain.io', target='_blank')
                    div
                      img.codechain-img(src='./images/main/codechain.png')
                      .title
                        | CodeChain
                      .description
                        | Programmable blockchain platform optimal for multiple asset management
              .col-lg-6
                .project-item
                  a.link-container(href='https://gocryptobot.io', target='_blank')
                    div
                      img.gocryptobot-img(src='./images/main/gocryptobot.png')
                      .title
                        | GoCryptobot
                      .description
                        | World's first mobile blockchain game for both iOS and Android
        #team-container.team-container.scroll-target
          .container
            .decoration-box.yellow-decoration
            h3
              | Team
            .team-item-group
              include includes/team.pug
              .team-item
                img.team-item-background(src='./images/main/profile-triangle.png')
                img.team-item-image-join(src='./images/main/user-icon.png')
                .team-item-right
                  .team-item-name
                    | Join Us!
                  .team-item-description
                    | job@kodebox.io
        #media-container.media-container.scroll-target
          .container
            .decoration-box.green-decoration
            h3.second-title
              | Media Coverage
            include includes/media.pug
        #presentation-container.presentation-container
          .container
            .decoration-box.yellow-decoration
            h3.second-title
              | Presentation materials
            include includes/presentation.pug
        #events-container.event-container.scroll-target
          .container
            .decoration-box.red-decoration
            h3.second-title
              | Events
            .upcoming-group
              p.title
                | Upcoming events
              .row
                include includes/upcoming.pug
            .past-group
              p.title
                | Past events
              .row
                include includes/past.pug
            .partners-group
              p.title
                | Investors & Partners
              .small-under-line
              .partners-group-list
                .row
                  .col-lg-6
                    .partner-logo
                      img(src='./images/partner/dunamu.png')
                  .col-lg-6
                    .partner-logo
                      img(src='./images/partner/kakao.png')
    include includes/footer.pug
