doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Kodebox
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-101144979-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-101144979-1');
  body
    include includes/header.pug
    +cc-header('main')
    .background-green-box
      img(src='./images/main/main_background.svg')
    .content
      .main
        .container
          #main-container.main-container.scroll-target
            .row
              .col-lg-6
                img.main-logo-img(src='./images/main/kodebox-big.png')
                .description
                  | Kodebox is a blockchain technology company on a mission to create and enable a smarter asset management system. Its flagship product CodeChain is a distributed ledger platform that allows more transparent and efficient asset management for the gaming industry.
              .col-lg-6
                img.asset-chain-img(src='./images/main/asset-chain.png')
          #projects-container.projects-container.scroll-target
            h3
              | Projects
            .underline
            .row
              .col-lg-6
                .project-item
                  a.link-container(href='https://codechain.io', target='_blank')
                    div
                      img.codechain-img(src='./images/main/codechain.png')
                      .title
                        | CodeChain
                      .description
                        | Programmable blockchain platform optimal for multiple asset management
              .col-lg-6
                .project-item
                  a.link-container(href='https://gocryptobot.io', target='_blank')
                    div
                      img.gocryptobot-img(src='./images/main/gocryptobot.png')
                      .title
                        | GoCryptobot
                      .description
                        | World's first mobile blockchain game for both iOS and Android
          #team-container.team-container.scroll-target
            h3
              | Team
            .underline
            .team-item-group
              include includes/team.pug
              .team-item
                img.team-item-background(src='./images/main/profile-triangle.png')
                img.team-item-image-join(src='./images/main/user-icon.png')
                .team-item-right
                  .team-item-name
                    | Join Us!
                  .team-item-description
                    | job@kodebox.io
          #media-container.media-container.scroll-target
            h3
              | Media Coverage
            .underline
            include includes/media.pug
          #presentation-container.presentation-container.scroll-target
            h3
              | Presentation materials
            .underline
            include includes/presentation.pug
          #events-container.event-container.scroll-target
            h3
              | Events
            .underline
            .upcoming-group
              p.title
                | Upcoming events
              .row
                include includes/upcoming.pug
            .past-group
              p.title
                | Past events
              .row
                include includes/past.pug
            .partners-group
              p.title
                | Investors & Partners
              .small-under-line
              .partners-group-list
                .row
                  .col-lg-6
                    .partner-logo
                      img(src='./images/partner/dunamu.png')
                  .col-lg-6
                    .partner-logo
                      img(src='./images/partner/kakao.png')
    include includes/footer.pug
