html,
body {
  height: 100%;
  color: #313131; }

hr {
  max-width: 100px;
  height: 2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

hr.colored {
  border-color: #EF4035; }

@media (min-width: 992px) {
  hr {
    max-width: 150px; } }

section.page-section {
  padding: 100px 0; }

@media (max-width: 767px) {
  section.page-section {
    padding: 75px 0; } }

::-webkit-input-placeholder {
  font-weight: 300;
  font-family: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

:-moz-placeholder {
  font-weight: 300;
  font-family: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

::-moz-placeholder {
  font-weight: 300;
  font-family: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

:-ms-input-placeholder {
  font-weight: 300;
  font-family: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

body {
  font-weight: normal;
  font-family: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #5c5c5c;
  transition: all 0.5s; }
  a:hover, a:focus {
    color: rgba(92, 92, 92, 0.6);
    text-decoration: none; }

p {
  font-size: 18px;
  line-height: 1.5; }

p.description {
  font-size: 18px;
  line-height: 1.5;
  color: #5c5c5c; }

p.lead {
  font-size: 24px;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 600; }

@media (min-width: 768px) {
  h1 {
    font-size: 42px; }
  h2 {
    font-size: 40px; } }

#mainNav {
  background-color: white;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: 0.8rem; }
  #mainNav .navbar-toggler {
    padding: 15px;
    color: #313131;
    font-size: 14px; }
    #mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
      color: #1d1d1d; }
  #mainNav .navbar-brand {
    font-size: 24px;
    line-height: 44px;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    #mainNav .navbar-brand img {
      height: 35px; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #999; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:hover {
      color: rgba(49, 49, 49, 0.3); }
    #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:hover {
      color: #1d1d1d; }
  @media (min-width: 992px) {
    #mainNav {
      height: auto;
      padding: 15px 0;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      box-shadow: none;
      border-bottom: 1px solid rgba(220, 220, 220, 0.4);
      background-color: white; }
      #mainNav.navbar-shrink {
        padding: 5px 0;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      #mainNav .navbar-brand {
        font-size: 26px;
        line-height: 50px; }
        #mainNav .navbar-brand img {
          height: 41px; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item {
        margin-right: 5px; }
        #mainNav .navbar-collapse .navbar-nav > .nav-item:last-child {
          margin-right: 0; }
        #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
          padding: 15px; }
          #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:hover {
            color: #1d1d1d; } }

header.masthead {
  height: 70%;
  position: relative;
  color: white;
  background-size: cover;
  background-attachment: scroll; }
  @media (min-width: 1024px) {
    header.masthead {
      background-attachment: fixed; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    header.masthead {
      background-attachment: scroll; } }
  header.masthead .header-container {
    padding-top: 75px; }
  header.masthead .overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  header.masthead .masthead-title {
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  header.masthead .masthead-subtitle {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2rem; }
  header.masthead .asset-image {
    width: 100%;
    height: auto; }

#project {
  background-color: #f7f7f7; }
  #project .project-item-container .project-item img {
    width: 80%;
    height: auto; }
  #project .project-item-container .project-item .project-title {
    text-transform: none !important;
    font-size: 1.5rem;
    font-weight: 600; }
  #project .project-item-container .project-item .project-description {
    max-width: 400px; }
  #project .project-item-container .project-item .detail-btn {
    font-size: 0.8rem;
    border: 1px solid #999;
    width: 90px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer; }
    #project .project-item-container .project-item .detail-btn:hover {
      transition: all 0.5s;
      color: rgba(153, 153, 153, 0.5);
      border: 1px solid rgba(153, 153, 153, 0.5); }

#events .event-container {
  padding-right: 300px;
  padding-left: 300px;
  position: relative; }
  #events .event-container .owl-dots {
    height: 48px; }
  #events .event-container .owl-prev {
    border: none;
    font-size: 2rem;
    position: absolute;
    z-index: 2;
    left: 250px;
    top: calc(50% - 48px);
    background-color: #1B8E7D;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
    color: white;
    width: 30px; }
    #events .event-container .owl-prev:focus {
      outline: 0; }
  #events .event-container .owl-next {
    border: none;
    font-size: 2rem;
    position: absolute;
    z-index: 2;
    right: 250px;
    top: calc(50% - 48px);
    background-color: #1B8E7D;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
    color: white;
    width: 30px; }
    #events .event-container .owl-next:focus {
      outline: 0; }

@media (max-width: 1600px) {
  #events .event-container {
    padding-right: 100px;
    padding-left: 100px; }
    #events .event-container .owl-prev {
      left: 50px; }
    #events .event-container .owl-next {
      right: 50px; } }

@media (max-width: 1000px) {
  #events .event-container {
    padding-right: 0;
    padding-left: 0; }
    #events .event-container .owl-prev {
      left: 0;
      width: 20px; }
    #events .event-container .owl-next {
      right: 0;
      width: 20px; } }

#events .event-item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #eee; }
  #events .event-item img {
    width: 100%;
    height: auto; }
  #events .event-item .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    width: calc(100% - 2px);
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 4px; }
  #events .event-item .type {
    font-size: 1rem; }
  #events .event-item .upcoming-type {
    font-weight: 600;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #events .event-item .past-type {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #events .event-item .title {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 8px;
    padding-right: 8px; }

.team-container .item {
  position: relative;
  margin-bottom: 30px; }
  .team-container .item .name {
    text-transform: none;
    font-size: 1.2rem;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .team-container .item .rank {
    font-size: 1rem; }
  .team-container .item .team-img {
    width: 170px;
    height: 170px;
    border-radius: 100%; }
  .team-container .item .line {
    width: 100px;
    height: 1px;
    background: #ddd; }
  .team-container .item .team-caption .list-team-social li .inactive {
    width: 23px;
    height: 23px;
    filter: opacity(20%);
    margin-right: 5px;
    margin-left: 5px; }
  .team-container .item .team-caption .list-team-social li a .active {
    width: 23px;
    height: 23px;
    filter: opacity(70%);
    margin-right: 5px;
    margin-left: 5px; }
  .team-container .item .team-caption .list-team-social li a:hover, .team-container .item .team-caption .list-team-social li a:focus {
    filter: opacity(40%); }

#talks {
  background-color: #f7f7f7; }
  #talks .talk-item {
    overflow: hidden;
    width: 100%;
    padding-top: 70%; }
  #talks .talk-container {
    padding-right: 100px;
    padding-left: 100px;
    position: relative; }
    #talks .talk-container .owl-dots {
      height: 48px;
      padding-top: 20px; }
    #talks .talk-container .owl-prev {
      border: none;
      font-size: 2rem;
      position: absolute;
      z-index: 2;
      left: 50px;
      top: calc(50% - 48px);
      background-color: #1B8E7D;
      opacity: 0.8;
      filter: alpha(opacity=80);
      /* For IE8 and earlier */
      color: white;
      width: 30px; }
      #talks .talk-container .owl-prev:focus {
        outline: 0; }
    #talks .talk-container .owl-next {
      border: none;
      font-size: 2rem;
      position: absolute;
      z-index: 2;
      right: 50px;
      top: calc(50% - 48px);
      background-color: #1B8E7D;
      opacity: 0.8;
      filter: alpha(opacity=80);
      /* For IE8 and earlier */
      color: white;
      width: 30px; }
      #talks .talk-container .owl-next:focus {
        outline: 0; }
  @media (max-width: 1000px) {
    #talks .talk-container {
      padding-right: 0;
      padding-left: 0; }
      #talks .talk-container .owl-prev {
        left: 0;
        width: 20px; }
      #talks .talk-container .owl-next {
        right: 0;
        width: 20px; } }
  #talks .title {
    font-size: 2rem;
    color: #3A3A3A;
    font-weight: 900;
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 10%;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  @media (max-width: 1500px) and (min-width: 600px) {
    #talks .title {
      font-size: 1.5rem; } }
  #talks .bottem {
    position: absolute;
    bottom: 0;
    width: 100%; }
  #talks .logo {
    width: 20%;
    margin-bottom: 3%; }
  #talks .date {
    font-size: 0.8rem;
    margin-bottom: 1%; }
  #talks .talk-item-inside {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E6EAEB; }
  #talks .decoration-white {
    position: relative;
    height: 10%;
    background-color: white; }
  #talks .deco-line {
    position: relative;
    width: 15%;
    height: 1%;
    margin-left: 10%;
    margin-top: 8%; }
  #talks .decoration-green {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #1B8E7D; }
  #talks .decoration-red {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: #E84C06; }

#media {
  background-color: #f7f7f7; }
  #media .hidden-media {
    display: none; }
  #media .media-item {
    border-bottom: 1px solid #bbb; }
    #media .media-item .media-title {
      font-weight: 600;
      font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    #media .media-item .media-date {
      font-size: 1rem; }
    #media .media-item .media-content {
      font-size: 1rem; }
    #media .media-item img {
      width: 170px;
      height: 150px;
      object-fit: cover; }
  #media .show-more-btn {
    color: #5c5c5c;
    border: 1px solid #5c5c5c;
    border-radius: 20px;
    width: 80px;
    padding: 5px;
    font-size: 0.8rem;
    cursor: pointer; }
    #media .show-more-btn:hover {
      transition: all 0.5s;
      color: rgba(92, 92, 92, 0.7);
      border: 1px solid rgba(92, 92, 92, 0.7); }

#partners .partner-container {
  max-width: 600px; }
  #partners .partner-container img {
    width: 180px; }

footer.footer {
  background-color: black;
  padding-top: 40px;
  height: 100px; }
  footer.footer img {
    width: 50px; }

.btn {
  font-weight: 900;
  padding: 12px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0; }

.btn-primary {
  border: 1px solid white;
  background-color: transparent; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    color: #EF4035 !important;
    border-color: white !important;
    background-color: white !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(239, 64, 53, 0.5) !important; }

.btn-secondary {
  border: 1px solid #313131;
  background-color: transparent;
  color: #313131; }
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    color: white !important;
    border-color: #EF4035 !important;
    background-color: #EF4035 !important; }
  .btn-secondary:active, .btn-secondary:focus {
    box-shadow: 0 0 0 3px rgba(239, 64, 53, 0.5) !important; }

button:hover {
  cursor: pointer; }

.btn-full-width {
  font-size: 26px;
  font-weight: 200;
  padding: 50px 0;
  letter-spacing: normal;
  text-transform: none;
  color: white;
  border: 0;
  border-radius: 0;
  background-color: #313131; }
  .btn-full-width:hover {
    color: white;
    background-color: #EF4035; }
  .btn-full-width:focus {
    color: white; }

.text-primary {
  color: #EF4035 !important; }

a.text-primary {
  color: #EF4035 !important; }
  a.text-primary:focus, a.text-primary:hover {
    color: #c81b10 !important; }

.bg-inverse {
  background-color: #313131 !important; }

.owl-carousel.owl-theme .owl-controls {
  margin-top: 0; }
  .owl-carousel.owl-theme .owl-controls .owl-prev,
  .owl-carousel.owl-theme .owl-controls .owl-next {
    font-size: 30px !important;
    line-height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 60px;
    margin: auto 0 !important;
    text-align: center;
    color: white !important;
    border-radius: 0 !important;
    background-color: #EF4035 !important;
    transition: all 0.5s; }
    .owl-carousel.owl-theme .owl-controls .owl-prev:hover,
    .owl-carousel.owl-theme .owl-controls .owl-next:hover {
      opacity: 1; }
  .owl-carousel.owl-theme .owl-controls .owl-prev {
    left: 15px; }
  .owl-carousel.owl-theme .owl-controls .owl-next {
    right: 15px; }
  .owl-carousel.owl-theme .owl-controls .owl-page span {
    background: rgba(49, 49, 49, 0.5); }

.owl-carousel.owl-theme.portfolio-carousel .owl-controls .owl-prev {
  left: 0; }

.owl-carousel.owl-theme.portfolio-carousel .owl-controls .owl-next {
  right: 0; }
