doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:url', content='https://kodebox.io')
    meta(property='og:title', content='Kodebox')
    meta(property='og:description', content='A blockchain technology company on a mission to create and enable smarter asset management systems')
    meta(property='og:image', content='https://kodebox.io/img/facebook_og.png')
    title Kodebox
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Custom fonts for this theme
    link(href="https://fonts.googleapis.com/css?family=Hind:400,600,800,900|Poppins:400,600,800,900|Raleway:400,800|Roboto+Slab:400,600" rel="stylesheet")
    // Plugin CSS
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='vendor/owl-carousel/assets/owl.carousel.min.css', rel='stylesheet', type='text/css')
    link(href='vendor/owl-carousel/assets/owl.theme.default.min.css', rel='stylesheet', type='text/css')
    link(href='vendor/magnific-popup/magnific-popup.css', rel='stylesheet', type='text/css')
    link(href='vendor/animate.css/animate.min.css', rel='stylesheet', type='text/css')
    link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
    // Custom styles for this theme
    // Uncomment the color scheme you want to use! Red is chosen by default!
    link(href='css/vitality.css?v=20190102', rel='stylesheet', type='text/css')
    script(type='text/javascript').
      var protocol = window.location.protocol
      if (protocol === 'http:') {
        window.location.replace(window.location.href.replace('http://', 'https://'))
      }
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-101144979-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", "UA-101144979-1");
  body#page-top
    // Navigation
    include ./_includes/nav.pug
    // Header
    include ./_includes/header.pug
    // Content
    include ./_includes/project.pug
    // include ./_includes/team.pug
    include ./_includes/talk.pug
    include ./_includes/event.pug
    include ./_includes/media.pug
    // include ./_includes/partners.pug
    // Footer
    include ./_includes/footer.pug
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery.easing/jquery.easing.min.js')
    script(src='vendor/owl-carousel/owl.carousel.min.js')
    script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
    script(src='vendor/vide/jquery.vide.min.js')
    script(src='vendor/mixitup/mixitup.min.js')
    script(src='vendor/wowjs/wow.min.js')
    // Contact form JavaScript
    script(src='js/contact_me.js')
    script(src='js/jqBootstrapValidation.js')
    // Custom scripts for this theme
    script(src='js/vitality.js?v=3')
    script(src='js/mixitup-config.js')
