footer.footer
  .container
    .row
      .col-sm-6
        ul
          li
            a.footer-menu-item(href="https://codechain.io")
              | codechain.io
          li
            a.footer-menu-item(href="https://gocryptobot.io")
              | gocryptobot.io
          li
            a.footer-menu-item(href="")
              | support@kodebox.io
        p.copyright
          | © 2018 Kodebox, Inc.
      .col-sm-6
        ul.list-inline.footer-list-menu.float-right
          li.list-inline-item.footer-link-item
            a(href="http://")
              i.fas.fa-comments.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href="https://twitter.com/codechain_io", target='_blank')
              i.fab.fa-twitter.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href="")
              i.fab.fa-facebook.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href="")
              i.fab.fa-medium-m.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href="")
              i.fab.fa-github.fa-3x(aria-hidden='true')




