//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'

mixin cc-header(url)
  mixin cc-nav-item(text, link, active)
    if active
      li.nav-item.active
        a.nav-link(href=link)
          | #{text}
    else
      li.nav-item
        a.nav-link(href=link)
          | #{text}
  nav.header.custom-nav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar-brand.header-icon(href='#')
        img.logo(src='./images/main/kodebox-big.png')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        .mr-auto
        ul.navbar-nav
          +cc-nav-item('Home', '#main-container', true)
          +cc-nav-item('Projects', '#projects-container', false)
          +cc-nav-item('Team', '#team-container', false)
          +cc-nav-item('Media', '#media-container', false)
          +cc-nav-item('Presentation', '#presentation-container', false)
          +cc-nav-item('Events', '#events-container', false)

