ul
  li
    a.media-item(href='http://gametoc.hankyung.com/news/articleView.html?idxno=48048', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-05-29] 블록체인과 게임의 융합 '성남 커넥트 세미나' 개최
  li
    a.media-item(href='http://www.zdnet.co.kr/news/news_view.asp?artice_id=20180527184505', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-05-27] 2018 IEEE 블록체인 서밋 코리아' 내달 7~8일 열려
  li
    a.media-item(href='https://btcmanager.com/blockchain-apps-are-taking-over-the-south-korean-market-cryptocurrency-incentive/', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-05-24] Blockchain Apps are Taking Over the South Korean Market, Cryptocurrency Incentive
  li
    a.media-item(href='http://m.mtn.co.kr/news/news_view.php?mmn_idx=2018051816011145214#_enliple#_enliple', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-05-18] 가능성에서 현실로…블록체인 기반 게임 첫 출시
  li
    a.media-item(href='http://it.chosun.com/site/data/html_dir/2018/05/11/2018051185020.html', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-05-11] 코드박스, 블록체인 기반 모바일 러닝 게임 '고크립토봇' 출시
  li
    a.media-item(href='http://www.zdnet.co.kr/news/news_view.asp?artice_id=20180326023307', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-03-26] 게임이 블록체인 킬러 앱 될 수 있다
  li
    a.media-item(href='http://www.koreaherald.com/view.php?ud=20180326000656', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-03-25] Korea’s largest cryptocurrency exchange operator to invest W100b in blockchain tech
  li
    a.media-item(href='http://m.mtn.co.kr/news/news_view.php?id=2018021216132745751#_enliple', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-02-12] [인터뷰] 케이큐브•두나무가 선택한 코드박스, “국내 첫 크립토 게임 출시하겠다”
  li
    a.media-item(href='http://platum.kr/archives/95404', target='_blank')
      i.far.fa-newspaper.media-icon
      | [2018-02-06] 블록체인 기술 개발사 ‘코드박스’, 케이큐브벤처스와 두나무로부터 투자 유치
